#create-transaction{
    background-color: #00a6ffee;
    color: #ffff;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: #00a6ffee;
    font-size: 10px;
    
    transition: 0.3s;
    box-shadow: 0 10px 20px -10px #00a6ffee;
}

#create-transaction:hover{
    background-color: #46d1ffee;
    box-shadow: 0 10px 20px -10px #46d1ffee;
    border: #46d1ffee;
    cursor: pointer ;
}


#create-transaction-window{
    height: 60%;
    width: 40%;
    background-color: aliceblue;
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

/*[data-theme="dark"] {
    --secondbgcolor: #1a1a1a;
    --mainbgcolor: #101010;
    --maincolor: #FFFFFF;
    --gris: #7e7e7e;
    --green: #2ebe7b;
    --greenbg: #173427;
    --red: #da5c54;
}

html {
    --secondbgcolor: #e1e1e1;
    --mainbgcolor: #f7f7f7;
    --maincolor: #101010;
    --gris: #7e7e7e;
    --green: #2ebe7b;
    --greenbg: #173427;
    --red: #da5c54;
}

*/

[data-theme="dark"] {
    --secondbgcolor: #1a1a1a;
    --mainbgcolor: #101010;
    --maincolor: #FFFFFF;
    --gris: #7e7e7e;
    --purple: #9E77ED;
    --purpleaccent: #7F56D9;
    --greenbg: #173427;
    --red: #da5c54;
}

html {
    --secondbgcolor: #E4E7EC;
    --mainbgcolor: #FCFCFD;
    --maincolor: #101010;
    --gris: #7e7e7e;
    --purple: #9E77ED;
    --purpleaccent: #D6BBFB;
    --greenbg: #173427;
    --red: #da5c54;
}
*{
    margin: 0;
    transition: .07s;
    font-family: 'Inter', sans-serif;
}

body{
    min-width: 500px;
    display: block;
    height: 100%;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--mainbgcolor);
}


/*
section{
    background-color: var(--mainbgcolor);
    display: flex;
    flex-direction: column;
    max-height: 100%;
}*/
 .navbartitle{
    height: 90px;
    background-color: var(--mainbgcolor);
    display: flex;
    color: var(--maincolor);
    justify-content: space-between;
}
/*************************************/
.navbartitle .title{
    width: 35%;
    gap: 3%;
    text-align: left;
    align-items: center;
    display: flex;
    padding-left: 5%;
}
.navbartitle .title h1{
    max-width: 200px;
    font-size: 2.5rem;
}
.navbartitle .title .option{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 10px 10px;
    color: var(--maincolor);
    font-size: 1.2rem;
    scale: 0.8;
    cursor: pointer;
}
.navbartitle .title .option:hover{
    color: var(--maincolor);
    scale: 1;
    transition: .3s;
    background-color: var(--secondbgcolor);
    border-radius: 10px;
}


.navbartitle .userinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 0 0;
}
.userinfo .userpic {
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.userpic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.userpic img:hover
.userinfo .userpic .minisettings{
    display: none;
    width: 175px;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    background-color: rgb(208, 208, 208);
    top: 50px;
    right: 0;
    padding: 15px;
}
.minisettings div{
    color: var(--maincolor);
    display: flex;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
}
.minisettings div i{
    margin-right: 10px;
}
.userinfo .iconinfo{
    display: flex;
    gap: 8px;
    height: 100%;
    align-items: center;
}

.iconinfo .switchcontent{
    position: relative;
    min-width: 58px;
    height: 28px;
}
.iconinfo .switch{
    min-width: 100%;
}
.iconinfo i{
    padding: 10px 10px;
    color: var(--maincolor);
    font-size: 1.2rem;
    scale: 0.8;
}
.iconinfo i:hover{
    color: var(--maincolor);
    scale: 1;
    transition: .3s;
    background-color: var(--secondbgcolor);
    border-radius: 10px;
}


/*----------------------------------------*/
.loader {
    border: 6px solid transparent;
    border-top: 6px solid #9e77ed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.2s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader-container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------------------------------*/
.contents{
    display: flex;
    margin: 0 75px 0 75px;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .contents{
        max-width: 1375px;
        margin: auto;
    }
    .element .date, .description .date{
        display: none;
    }

    .contents .allwallets {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-right: 50px;
        gap: 10px;
    }
    
    
    .description .name, .description .price, .description .amount, .description .marketcap{
        width: 250px;
    }
    
    .element div .name, .element div .price, .element div .amount, .element div .marketcap{
        width: 250px;
        padding: 5px;
    }
    
}
@media screen and (min-width: 10px) and (max-width: 1400px) {
    .description .date, .element .date{
        display: none;
    }
    
}

@media screen and (min-width: 950px) {
    .contents .allwallets {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-right: 50px;
        gap: 10px;
    }
}
@media screen and (min-width: 1800px) {
    .contents{
        max-width: 1600px;
        margin: auto;
    }
    .description .name, .description .price, .description .amount, .description .marketcap{
        flex: 1;
    }
    
    .element div .name, .element div .price, .element div .amount, .element div .marketcap{
        flex: 1;
    }
}

@media screen and (min-width:10px)and (max-width: 950px) {
    *{
    }
    .contents{
        flex-direction: column;
    }

}




/*----------------------------------------*/



.contents .allwallets{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.createwallet-btn{
    text-align: center;
    padding: 8px;
    color: var(--maincolor);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}
.createwallet-btn:hover{
    transition: 0.2s;
    color: var(--purple);
    /*background-color: #eff2f5;
*/
    background-color: var(--secondbgcolor);
}

.allwallets div{
    display: flex;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
}
.allwallets div .logoimg{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 8px;
}
.allwallets div div{
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: space-between;
}
.allwallets div div:nth-child(2) p:first-child{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    color: var(--maincolor);
}
.allwallets div div:nth-child(2) p:nth-child(2){
    font-size: 12px;
    color: rgb(88, 102, 126);
    margin-bottom: 7px;
}
.allwallets .w:hover{
    background: var(--secondbgcolor);
}

.allwallets .w .logoimg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/*----------------------------------------*/
/*
section .content{
    flex: 1;
    display: flex;
}*/
.content{
    display: flex;
    flex: 1;
}
/*----------------------------------------*/



.content .walletcontent{
    flex: 6;
    display: flex;
    flex-direction: column;
}

.walletcontent .wallettitle{
    margin: 15px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #eff2f5;
    color: var(--maincolor);
}
.wallettitle h1{
    font-size: 32px;
    text-decoration: underline 3px;
    font-style: italic;
}
.wallettitle h3{
    font-size: 15px;
}
.wallettitle h4{
    font-size: 28px;
    margin-top: 5px;
}
.wallettitle div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
    color variable probleme
*/
.wallettitle div .transacbtn{
    padding: 8px;
    color: #FFFF;
    background: var(--purple);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.wallettitle div .transacbtn:hover{
    scale: 1.05;
    transition: 0.7s;
    background: var(--purpleaccent);
}

.walletcontent .portfolio{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
    color: var(--maincolor);
}
.portfolio h5{
    font-size: 1.4rem;
}
.portfolio div{
    display: flex;
    gap: 10%;
    justify-content: left;
}
.portfolio div div{
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
}
.walletcontent .walletelements{
    flex: 1;
    margin-top: 70px;
}
.walletelements .element{
    text-transform: uppercase;
    font-weight: 300;
    color: var(--maincolor);
}
.walletelements .element div:hover{
    background: var(--secondbgcolor);
}

.header-wallet{
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    flex: 1;
}

.description{
    color: var(--maincolor);
}

.description .name{
    flex: 1;
    padding: 5px;
}
.description .price{
    flex: 1;
    padding: 5px;
}
.description .amount{
    flex: 1;
    padding: 5px;
}
.description .marketcap{
    flex: 1;
    padding: 5px;
}
.description .graph{
    width: 250px;
    display: inline-flex;
    align-items: center;
}
.description .date{
    flex: 1;
    padding: 5px;
}




.element{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.element div{
    border-bottom: 1px solid #eff2f5;
}
.element div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.element div .name {
    display: inline-flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}
.element div .amount {
}
.element img{
    width: 50px;
}
.element * {
    display: flex;
}

/* align icon */
.element div .price{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex: 1;
    padding: 5px;
    font-weight: bold;
}

.element div .price i{
    width: 10px;
    margin-right: 5px;
}

.element div .price.green {
    color: #16c784;
}

.element div .price.red {
    color: #ea3943;
}

.element .name{
    flex: 1;
    padding: 5px;
}
.element .amount{
    flex: 1;
    padding: 5px;
}
.element .marketcap{
    flex: 1;
    padding: 5px;
}

.element .graph{
    width: 250px;
    padding: 5px;
}
.element .date{
    flex: 1;
    padding: 5px;
}

.logo{
    height: 50px;
    width: 50px;
}
/**********************/

.savewallet{
    display: none;
    background-color: var(--purple);
    color: var(--mainbgcolor);
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: var(--purpleaccent);
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 0 10px 20px -10px var(--purple);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.savewallet:hover{
    background-color: var(--purpleaccent);
    box-shadow: 0 10px 20px -10px var(--purpleaccent);
    border: var(--purpleaccent);
    cursor: pointer ;
}
#create-transaction-window{
    display: none;
    background-color: #fdfdfe;
    border-radius: 10px;
    box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#tsymbol{
    width: 7rem;
}
#tammount{
    width: 7rem;
}
/**********************/
/**********************/

.settings {
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 60vh;
    width: 50%;
    justify-content: center;
    background: var(--mainbgcolor);
    padding: 5%;
    border-radius: 2%;
    box-shadow: rgba(88, 102, 126, 0.253) 0px 4px 24px, rgba(88, 102, 126, 0.356) 0px 1px 2px;
}
.settings .allsettings{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.settings .allsettings div{
    padding: 10px 15px;
    width: 170px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
.settings .allsettings div:hover{
    background: rgb(241, 241, 245);
    transition: .3s;
}
.settings .settingprofile{
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.settings .settingauth{
    flex: 5;
    display: none;
    flex-direction: column;
    padding: 20px;
}


.settingprofile h1, .settingauth h1{
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: solid 1px gray;
}


.settingprofile .avatar{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.avatar .left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.avatar .left .image{
    width: 80px;
    height: 80px;
    padding-bottom: 15px;
}
.avatar .left .image img{
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    box-shadow: rgba(88, 102, 126, 0.253) 0px 4px 24px, rgba(88, 102, 126, 0.356) 0px 1px 2px;
}
.avatar .edit{
    padding: 8px;
    text-align: center;
    justify-content: center;
    height: 20px;
    width: 50px;
    color: #FFFF;
    background: var(--purple);
    border-radius: 8px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.settingprofile .password p, .username p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.settingauth .email p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.password .passinput, .username .nameinput, .email .emailinput{
    position: relative;
}
.password .passinput span, .username .nameinput span, .email .emailinput span{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.password .passinput input, .username .nameinput input, .email .emailinput input{
    background-color: transparent;
    border: 1px solid rgb(64, 66, 78);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--maincolor);
    max-width: 100%;
    outline: 0px;
    padding: 0px 16px;
    width: 100%;
    font-size: 14px;
    height: 48px;
    line-height: 21px;
}

.settingprofile button, .settingauth button{
    background-color: var(--purple);
    color: var(--mainbgcolor);
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: var(--purpleaccent);
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 0 10px 20px -10px var(--purple);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/**********************





.negcurrency{
    display: flex;
    box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: top;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 16px;
    height: 25rem;
    width: 35rem;
    font-family: 'Inter', sans-serif;
}


.header{
    position: absolute;
    top: 4%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    margin-left: 12%;
    align-items: center;
}

.negcurrency .currency{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.negcurrency .currency div{
    height: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    display: flex;
    padding: 24px;
    border: 1px solid #eff2f5;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: auto;
    cursor: pointer;
}

.negcurrency btn{
    position: absolute;
    bottom: 5px;
    padding: 8px;
    color: #FFFF;
    background: var(--purple);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


**********************/


.iconinfo .switchcontent .switch input
{
  display: none;
}

.iconinfo .switchcontent .switch 
{
  position: relative;
}

.switchcontent .switch .slider
{
    width: 50px;
    height: 20px;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 0 0 2px var(--maincolor), 0 0 4px var(--maincolor);
  cursor: pointer;
    border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.switchcontent .switch .slider:before
{
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--maincolor);
  border-radius: 30px;
  transform: translateX(0px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

.switchcontent .switch input:checked + .slider:before
{
  width: 50%;
  transform: translateX(30px); /*translateX(w-h)*/
  background-color: var(--maincolor);
}

.switchcontent .switch input:checked + .slider
{
  box-shadow: 0 0 0 2px var(--maincolor);
  border: 4px solid transparent;
}